@font-face {
    font-family: Din;
    src: url(/fonts/Gotham-Book.otf);
}

body{
    margin: 0;
    padding: 0;
}




.background_image{
    background-image: url(/images/nail\ blue.png);
    width: 100vw;
    height: 50vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 0;
}

nav{
    position: fixed;
    top: -1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav img{
    width: 30vh;
}