@font-face {
    font-family: League;
    src: url(/fonts/FredokaOne-Regular.ttf);
}

@font-face {
    font-family:Din ;
    src: url(/fonts/DIN.ttf);
}

@font-face {
    font-family:Monserrat ;
    src: url(/fonts/Montserrat-Bold.otf);
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.background_image{
    background-image: url('/images/babysita.png');
    width: 100%;
    height: 70vh;
    background-position: center 0;
    filter: brightness(0.4);
}

.navbar{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 2vh;
    justify-content: space-between;
    width: 100%;
}

nav{
    position: relative;
    flex-direction: row;
    width: 30%;
}

nav a{
    text-decoration: none;
    margin: 2%;
    font-family: league;
    color: whitesmoke;
    transition: all 1s ease-in-out;
}

nav a:hover{
  background-color: palevioletred;
}

//dropbox navigation bar 

.dropbox{
    position: absolute;
    top:7vh;
    left: 60vh;
    color: white;
    visibility: hidden;
}

.dropbox ion-icon{
    font-size: larger;
}

.dropbox nav{
    background-color: palevioletred;
    padding: 6%;
    width: 100%;
    left: -8vh;
    box-shadow: inset 0 0 2px #000000;
    display: none;
}

.dropbox .dropbox_tab {
    background-color: palevioletred;
    padding: 6%;
    width: 100%;
    box-shadow: inset 0 0 2px #000000;
    display: block;
}




@media(max-width : 1000px){

      nav a{
        display: none;
      }
      .dropbox{
        visibility: visible;
      }

      //make it visible 
     .dropbox nav a{
        display: flex;
        width: 100%;
     }

     .linda_title{
        position: relative;
        margin-top: -60vh;
        font-size: small;
     }

}


// the css design for the title
.linda_title{
    position: relative;
    margin-top: -50vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    color: whitesmoke;
}

.linda_title h1{
    font-family: Monserrat;
    font-size: 2.9em;
    width: 100%;
}

.linda_title p{
    font-family: din;
    font-weight: lighter;
}

.linda_title a{
    font-family: monserrat;
    text-decoration: none;
    background-color: palevioletred;
    color: white;
    width:20vh;
    position: relative;
    margin-left: 40%;
}
