@font-face {
  font-family: League;
  src: url(/fonts/FredokaOne-Regular.ttf);
}
@font-face {
  font-family: Din;
  src: url(/fonts/DIN.ttf);
}
@font-face {
  font-family: Monserrat;
  src: url(/fonts/Montserrat-Bold.otf);
}
@font-face {
  font-family: Droid;
  src: url(/fonts/DroidSerif-Bold.ttf);
}
@font-face {
  font-family: Regular;
  src: url(/fonts/Montserrat-Regular.otf);
}
@font-face {
  font-family: Opensans;
  src: url(/fonts/open-sans.regular.ttf);
}
@font-face {
  font-family: Lora;
  src: url(/fonts/Lora-VariableFont_wght.ttf);
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

@keyframes TransIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.background_image {
  background-image: url("/images/babysita.png");
  width: 100%;
  height: 70vh;
  background-position: center 0;
  filter: brightness(0.4);
}

.navbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 2vh;
  justify-content: space-between;
  width: 100%;
}

nav {
  position: relative;
  flex-direction: row;
  width: 30%;
}

nav a {
  text-decoration: none;
  margin: 2%;
  font-family: league;
  color: whitesmoke;
  transition: all 1s ease-in-out;
}

nav a:hover {
  background-color: palevioletred;
}

.dropbox {
  position: absolute;
  top: 7vh;
  left: 60vh;
  color: white;
  visibility: hidden;
}

.dropbox ion-icon {
  font-size: larger;
}

.dropbox nav {
  background-color: palevioletred;
  padding: 6%;
  width: 100%;
  left: -8vh;
  box-shadow: inset 0 0 2px #000000;
  display: none;
}

.dropbox .dropbox_tab {
  background-color: palevioletred;
  padding: 6%;
  width: 100%;
  box-shadow: inset 0 0 2px #000000;
  display: block;
  z-index: 100;
}

.linda_title {
  position: relative;
  margin-top: -50vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  color: whitesmoke;
}

.linda_title h1 {
  font-family: Monserrat;
  font-size: 2.9em;
  width: 100%;
}

.linda_title p {
  font-family: opensans;
}

.linda_title a {
  font-family: monserrat;
  display: block;
  width: max-content;
  margin: 0 auto;
  background-color: palevioletred;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  transition: all 1s ease-in-out;
}

.linda_title a:hover {
  background-color: transparent;
  border: solid white 2px;
}

.nails_div {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  margin-top: 2%;
}

.nails_div img {
  width: 100%;
}

.nail_clipper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nail_clipper h2 {
  font-family: Monserrat;
}

.nail_clipper p {
  font-family: opensans;
}

.linda_photo img {
  width: 30vw;
  position: relative;
  margin-left: -6%;
}

.linda_photo {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-top: 6%;
  width: 100%;
  justify-content: center;
  background-color: pink;
  padding: 2%;
}

.linda_photo_text {
  margin-left: 4%;
}

.linda_photo_text h5 {
  font-family: opensans;
}

.linda_photo_text h1 {
  font-family: monserrat;
}

.linda_photo_text p {
  font-family: opensans;
}

.linda_photo_text button {
  padding: 2%;
  background-color: palevioletred;
  font-family: opensans;
  font-weight: bold;
  border: none;
  color: white;
  transition: background-color 1s ease-in-out, border 1s ease-in-out, color 1s ease-in-out;
}

.linda_photo_text button:hover {
  background-color: transparent;
  border: solid white 2px;
  color: black;
}

.animated {
  animation: TransIn 3s;
}

.products {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.products_text p {
  font-family: Opensans;
}

.products_text h1 {
  font-family: Monserrat;
}

.products img {
  width: 60%;
}

.background_image_1 {
  background-image: url("/images/nails glow.png");
  width: 100%;
  height: 40vh;
  background-position: center 0;
  filter: brightness(0.4);
}

.text {
  text-align: center;
  margin: 0px auto;
  display: block;
  font-family: Lora;
  margin-top: -7%;
  z-index: 5;
  font-size: 3.3em;
  color: white;
  font-weight: light;
}

.text span {
  text-decoration: underline;
}

#nail_products {
  display: flex;
  width: 100%;
  margin-top: 5%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.hands_feet {
  font-family: opensans;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.4156862745);
}

.hands_feet h2 {
  font-family: lora;
  color: #000000;
}

.items {
  display: flex;
  flex-direction: column;
}

.items p {
  margin-top: -2%;
  font-family: regular;
  font-style: italic;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.4156862745);
}

.items h2 {
  font-family: lora;
  color: #000000;
}

.paint_pakages {
  font-family: opensans;
  color: rgba(0, 0, 0, 0.4156862745);
}

.paint_pakages h2 {
  font-family: Lora;
  color: #000000;
}

.views {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.views p {
  margin: 0;
  font-family: monserrat;
  text-decoration: underline;
  transition: all 1s ease-in-out;
}

.views p:hover {
  color: palevioletred;
}

.background_image_2 {
  background-image: url("/images/proper lady.png");
  width: 100%;
  height: 80vh;
  background-position: center;
  filter: brightness(0.8);
  margin-top: 5%;
}

.booking {
  font-size: larger;
  position: sticky;
  margin-top: -28%;
  margin-left: 10%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  font-family: lora;
  text-align: center;
  color: rgba(0, 0, 0, 0.551);
}

.booking h1 {
  font-size: 5em;
  margin-top: -2%;
}

.booking h2 {
  margin-top: -10%;
}

.booking button {
  padding: 2%;
  font-family: monserrat;
  width: 100%;
  background-color: palevioletred;
  border: none;
  color: white;
  transition: background-color 1s ease-in-out, color 1s ease-in-out;
}

.booking button:hover {
  background-color: bisque;
  color: black;
}

.summer {
  font-size: medium;
}

.nails_sum {
  margin-top: 6%;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.nails_sum p {
  font-family: monserrat;
  font-size: small;
  color: rgba(0, 0, 0, 0.4156862745);
}

.nails_sum h1 {
  font-family: lora;
  margin-top: 0.9%;
}

.photo_collage {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  font-size: large;
}

.photo_collage p {
  font-family: monserrat;
  font-size: small;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.4156862745);
  overflow: hidden;
}

.photo_collage h2 {
  font-family: lora;
}

.photo_collage img {
  width: 100%;
  overflow: hidden;
  transition: filter 1s ease-in-out;
  filter: brightness(0.7);
}

.collage_2 img {
  width: 100%;
  overflow: hidden;
  transition: filter 1s ease-in-out;
  filter: brightness(0.7);
}

.photo_collage img:hover {
  filter: brightness(0.8);
}

.hand_treatment {
  display: flex;
  flex-direction: row;
  margin-top: 9%;
  align-items: center;
  width: 100%;
}

.hand_treatment img {
  position: absolute;
  width: 34%;
  margin-left: 10%;
  z-index: 5;
}

.hand_treatment_text {
  background-color: beige;
  width: 50%;
  padding-left: 20%;
  padding-top: 6%;
  padding-bottom: 6%;
  margin-left: 30%;
  font-size: large;
  font-family: lora;
}

.hands_p {
  font-family: monserrat;
  font-size: small;
  color: rgba(0, 0, 0, 0.4156862745);
}

.HT1 p {
  font-family: din;
  font-style: italic;
}

.left_animation {
  animation: left_animation 3s;
}

.right_animation {
  animation: right_animation 3s;
}

@keyframes left_animation {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes right_animation {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@media (max-width: 1000px) {
  nav a {
    display: none;
  }
  .dropbox {
    visibility: visible;
  }
  .dropbox nav a {
    display: flex;
    width: 100%;
  }
  .linda_title {
    position: relative;
    margin-top: -60vh;
    font-size: small;
  }
  .nails_div {
    display: flex;
    flex-direction: column;
  }
  .linda_photo img {
    width: 100%;
    position: relative;
    margin-left: 0%;
  }
  .linda_photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2%;
    background-color: antiquewhite;
  }
  .products {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .products img {
    width: 100%;
  }
  .text {
    margin-top: -15%;
    font-size: x-large;
  }
  #nail_products {
    display: flex;
    flex-direction: column;
  }
  .booking {
    position: sticky;
    margin-top: -60vh;
    font-size: smaller;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .photo_collage {
    display: flex;
    flex-direction: column;
  }
  .hand_treatment {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: flex-start;
  }
  .hand_treatment img {
    position: relative;
    width: 100%;
    margin-left: 0%;
  }
  .hand_treatment_text {
    position: relative;
    background-color: none;
    font-size: smaller;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-left: 0%;
    text-align: center;
  }
}/*# sourceMappingURL=linda.css.map */